{% extends "base.html" %}

{% block title %}Relatório{% endblock %}

{% block content %}
<h1>{{ titulo }}</h1>

<p><strong>Total:</strong> R$ {{ '%.2f'|format(total) }}</p>


{% if vendas %}
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor (R$)</th>
            </tr>
        </thead>
        <tbody>
            {% for produto, valor in vendas %}
            <tr>
                <td>{{ produto }}</td>
                <td class="numero">{{ '%.2f'|format(valor) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhuma venda registrada.</p>
{% endif %}

{% endblock %}
