{% extends 'base.html' %}

{% block title %}Relatório de Vendas{% endblock %}

{% block content %}
    <h2>Resumo</h2>

    <p><strong>Total geral:</strong> R$ {{ "%.2f"|format(total) }}</p>

    <h2>Vendas</h2>

    <table border="1" cellpadding="5">
        <tr>
            <th>Produto</th>
            <th class="num">Quantidade</th>
            <th class="num">Valor</th>
        </tr>

        {% for item in vendas %}
        <tr>
            <td>{{ item.produto }}</td>
            <td class="num">{{ item.quantidade }}</td>
            <td class="num">R$ {{ item.valor }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
